VITE_FIREBASE_API_KEY=AIzaSyClySElV7dS4H1Z4f-yefKLiuvAjs_QrcA
VITE_FIREBASE_AUTH_DOMAIN=ecoscan-85b4f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ecoscan-85b4f
VITE_FIREBASE_STORAGE_BUCKET=ecoscan-85b4f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=544957239937
VITE_FIREBASE_APP_ID=1:544957239937:web:25ab4467b4f9f4ff99f380
